/* =========================================================
   CONFIGURACIÓN GENERAL
========================================================= */

@charset "UTF-8";

/* Tipografía */
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/RobotoCondensed-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

/* Estilos globales */
body {
  font-family: "Roboto", sans-serif;
}

/* =========================================================
   VIDEO DE FONDO Y OVERLAY
========================================================= */

#video1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -3;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff3688;
  opacity: 0.43;
  z-index: -2;
}

/* =========================================================
   CONTENEDOR PRINCIPAL
========================================================= */

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* =========================================================
   HEADER Y MENÚ SUPERIOR
========================================================= */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  display: flex;
  color: white;
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
  z-index: 2; 
  background-color: transparent;
  opacity: 1;
}

header:not(.show) {
  transform: translateY(-100%);
  opacity: 0;
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Menú lateral */
#menuLateral {
  position: fixed;
  top: 0;
  right: -300px; /* oculto inicialmente */
  width: 300px;
  height: 100vh;
  background-color: #EFE6DF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 40px;
  padding-top: 40px;
  transition: right 0.4s ease;
  z-index: 100;
}


#menuLateral ul {
  list-style: none;
  padding: 0;
}

#menuLateral li {
  margin: 20px 0;
}

#menuLateral a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  transition: color 0.3s;
}

#menuLateral a:hover {
  color: #e91e63;
}

#menuLateral.abierto {
  right: 0;
}

.menuBtn {
    position: fixed;
    right: 0;
    padding: 50px;
    z-index: 3;
}

#btnCerrarMenu {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  color: black;
  font-size: 2rem;
  cursor: pointer;
  z-index: 110; /* más alto que el menú */
  line-height: 1;
  padding: 0;
}

#btnCerrarMenu:hover {
  color: #e91e63; /* color al pasar el mouse */
}

.carmenLogo {
    position: fixed;
    padding: 40px;
}

/* =========================================================
   SECCIÓN: INICIO
========================================================= */

.section-inicio .carmenMedio img {
  width: 100%;
  height: auto;
  z-index: -1;
  max-width: 95%;
}

/* Textos principales */
.t1,
.t2,
.t3 {
  color: #fff;
}

.t1 {
  font-size: 22px;
  margin-top: 20px;
  position: absolute;
  top: 38%;
  left: 15%;
  width: 140px;
  height: 100px;
}

.t2 {
  position: absolute;
  top: 58%;
  left: 65%;
  width: 387px;
  height: 54px;
  text-align: left;
  margin: 10px 0;
}

.t3 {
  font-size: 24px;
  position: absolute;
  transform: translateY(400px);
}

/* Flechas animadas */
.flecha {
  width: 24px;
  height: 12px;
  --moveY: 0px;
  animation: converger var(--duration, 4s) ease-in-out infinite alternate;
}

.section-inicio .flechas-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateY(300px);
}


/* =========================================================
   SECCIÓN: IMÁGENES (CONOCE CARMEN)
========================================================= */
.section-fondo {
  position: relative; /* contenedor para el fondo absoluto */
  width: 100%;
  overflow: hidden; /* opcional, evita scroll extra */
}

.fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  left: 0;
  background-color: #efe6df;
}

.section-imagenes {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 20px 10px;
  width: 100%;
  box-sizing: border-box;
}

.section-imagenes .flechas-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translateY(300px);
  position: absolute;
  top: 35%;
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  gap: 200px;
  margin-top: 28px;
}

.columna .foto {
  width: 139px;
  height: 205px;
  object-fit: cover;
  border-radius: 200px;
  position: relative;
}

/* Ajustes específicos por imagen */
#corazon {
  object-fit: scale-down;
  border-radius: 0;
}
.corazon-img {
  transform: translateX(5px) translateY(-3px);
}
#img1 {
  transform: translateX(-60px);
}
#img2,
#img4 {
  transform: translateX(40px);
}
#img5,
#img6 {
  transform: translateY(60px);
}
#img7 {
  transform: translateY(-10px) translateX(40px);
}
#img9 {
  transform: translateX(80px) translateY(100px);
}

#columnaDos,
#columnaCinco {
  padding-top: 150px;
}

#columnaCentral {
  padding-top: 350px;
  align-items: center;
  justify-content: center;
  position: relative;
}

#columnaCentral p {
  text-align: justify;
  color: #ff3688;
  font-size: 20px;
  width: 300px;
}

#corazon {
  position: absolute;
  top: 15%;
}

/* =========================================================
   SECCIÓN: CARDS (VIDEOS)
========================================================= */

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin: 80px auto 0 auto;
}

/* Card base */
.card {
  position: relative;
  max-width: 530px;
  min-width: 200px;
  border-radius: 30px;
  overflow: hidden;
  filter: drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.25));
}

/* Card → video */
.card video {
  width: 100%;
  height: 800px;
  border-radius: 30px;
  object-fit: cover;
}

/* Card → overlay */
.overlay-cards {
  width: 100%;
  height: 800px;
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

/* Colores personalizados por card */
#card1 .overlay-cards {
  background-color: #2c160a;
}
#card2 .overlay-cards {
  background-color: #de0047;
}
#card3 .overlay-cards {
  background-color: #ff3688;
}

/* Card → contenido */
.card-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  color: white;
}

.card-content img {
  margin-top: 300px;
}
.card-content h2 {
  font-size: 62px;
  font-weight: normal;
  margin: 59px 0 43px 0;
}
.card-content p {
  width: 55%;
  font-size: 21px;
  margin-bottom: 72px;
}

.cards .text-corazon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  gap: 20px;
}

.cards .text-fall {
    font-size: 5vw;
    max-width: 60%;
    color: #ff3688;
    position: relative;
    z-index: 1;
    margin-top: 50px;
}

.cards .corazon {
  margin-top: 100px;
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}

/* =========================================================
   SECCIÓN: BANNER CARMEN
========================================================= */

.banner-carmen {
  background: linear-gradient(to bottom, #efe6df 25%, #ff3688 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}

.banner-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.banner-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#carmen {
  width: 100%;
}
#corazones {
  max-height: 300px;
  padding: 50px 0;
  width: auto;
}

.banner-sub {
  font-size: 32px;
  max-width: 30%;
  color: #fff;
}

/* =========================================================
   SECCIÓN: TRINIDAD HERRERO
========================================================= */

.trinidad {
  margin-top: -2px; /* Eliminar espacio entre secciones */
  background-color: #ff3688;
  padding: 100px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.trinidad .trinidad-imagenes {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trinidad .wrapper-image {
  width: 50%;
  margin: 0 15%;
}

.trinidad .wrapper-image img {
  width: 100%;
  height: auto;
}

.trinidad .svg-trinidad {
  width: 23%;
}

.texto-trinidad {
  background-color: #ff3688;
  color: #fff;
  text-align: justify;
  font-size: 23px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.texto-trinidad p {
  padding-top: 60px;
  max-width: 532px;
}

.texto-trinidad h3 {
  padding-top: 80px;
  text-align: center;
  max-width: 694px;
}

.nombre {
  font-size: 67px;
}

/* =========================================================
   SECCIÓN: SPONSORS
========================================================= */

.sponsors-section {
  margin-top: -2px; /* Eliminar espacio entre secciones */
  background-color: #ff3688;
  text-align: center;
  width: 100%;
}

.sponsors-section p {
  color: #fff;
  font-size: 32px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.sponsors-section .sponsors {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

/* =========================================================
   SECCIÓN: SLIDER (DATOS)
========================================================= */

.slider-textos {
  width: 100%;
  margin: 0 auto;
  background: #efe6df;
}

.slider-track {
  background-color: #efe6df;
}
.slider-textos .slider-title {
  color: #ff3688;
  font-weight: bold;
  font-size: 7vw;
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
}

/* Slider → slides */
.slick-track .slide {
  display: flex;
  flex-direction: row;
  width: 813px;
}

.slick-track .slick-slide {
  background-color: #efe6df;
  border: 2px solid #ff3688;
  color: #ff3688;
  font-size: 28px;
  font-weight: bold;
  border-radius: 20px;
  padding: 24px;
  margin: 0 8px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  opacity: 0.4;
  transform: scale(0.7);
  transition: box-shadow 0.3s, opacity 0.3s;
}

.slick-track .slick-center {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 4px 24px rgba(255, 54, 136, 0.13);
}

/* Slider → bordes difuminados */
.slider-track::before,
.slider-track::after {
  content: "";
  position: absolute;
  top: 0;
  width: 500px;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.slider-track::before {
  left: 0;
  color: transparent;
  background: linear-gradient(to right, #efe6df 0%, transparent 100%);
}

.slider-track::after {
  right: 0;
  color: transparent;
  background: linear-gradient(to left, #efe6df 0%, transparent 100%);
}
.slider-track .slick-dots {
  background-color: #efe6df;
}
.slider-track .slick-dots li button {
  border: 2px solid #ff3688;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  color: transparent;
  user-select: none;
  background-color: #efe6df;
}

.slick-dots li.slick-active button {
  background: #ff3688;
  opacity: 1;
}

.slider-track .slick-dots li button:before,
.slider-track .slick-dots li.slick-active button:before {
  opacity: 0;
}

.highlight1,
.highlight2,
.highlight3 {
  color: #ff3688;
  font-size: 58px;
}

/* =========================================================
   SECCIÓN: EVIDENCIA CIENTÍFICA
========================================================= */

.section-evidence {
  margin-top: -6px; /* Eliminar espacio entre secciones */
  background-color: #efe6df;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.section-evidence .wrapper-image {
  width: 26%;
}

.section-evidence .wrapper-image img {
  width: 100%;
  height: auto;
  display: block;
}

.section-evidence .evidence-container {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: flex-end;
  gap: 100px;
  width: 100%;
  text-align: right;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.section-evidence .evidence-container p {
  color: #ff3688;
  font-size: 6vw;
  width: 55%;
  font-weight: bold;
}

.evidence-cards {
  display: flex;
  flex-direction: row;
  max-width: 60%;
  gap: 60px;
}

.evidence-card {
  position: relative;
  flex: 1;
  width: 20%;
  border-radius: 12px;
  text-align: center;
}

.imagen-stat {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 12px 0;
}

.imagen-stat img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.stat3 {
  transform: rotate(45deg);
}

.linea {
  position: absolute;
  width: 7%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

/* Texto bajo iconos */
.evidence-card h3 {
  color: #ff3688;
  margin-top: 140px;
  margin-bottom: 8px;
  font-size: 39px;
}

.evidence-card p {
  color: #ff3688;
  font-size: 24px;
}

/* =========================================================
   SECCIÓN: FORMULARIO FINAL
========================================================= */

.final-form {
  position: relative;
  text-align: center;
  padding-top: 24px;
  overflow: hidden;
}

.final-form h2 {
  color: #fff;
  font-size: 62px;
  margin-bottom: 12px;
  position: relative;
  z-index: 1;
}

.final-form img {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* Video de fondo */
.final-form #video2 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  z-index: -1;
}

/* Overlay oscuro */
.final-form::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

/* Formulario */
.final-form .formulario {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.final-form .input-group {
  width: 100%;
}

.final-form input {
  margin: 50px 65px;
  width: 35%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 32px;
}

input::placeholder {
  font-family: "Roboto", sans-serif;
}

/* Checkbox */
.final-form .checkbox-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  width: 50%;
}

.final-form .checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ff3688;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

.final-form input[type="checkbox"]:checked {
  background-color: #ff3688;
  border-color: #ff3688;
}

/* Texto del checkbox */
.final-form .checkbox-label {
  color: #fff;
  font-size: 20px;
  text-align: left;
}

/* Botón de enviar */
.final-form .btn-enviar {
  color: #fff;
  border: 2px solid #ff3688;
  font-size: 38px;
  width: 38%;
  height: 70px;
  background-color: transparent;
  font-family: "Roboto";
  margin: 20px 220px 123px 0px;
  border-radius: 10px;
  img {
    max-width: 30px;
  }
}

.final-form .subrayado {
  text-decoration: underline;
}

.final-form .condiciones {
  font-size: 19px;
  margin-right: 120px;
  color: #fff;
}

/* =========================================================
     MEDIA QUERIES (RESPONSIVE)
  ========================================================= */

@media (max-width: 1024px) {
  .banner-title {
    font-size: 10vw;
    max-width: 80%;
  }

  .banner-sub {
    font-size: 4vw;
    max-width: 60%;
  }

  .card-content h2 {
    font-size: 8vw;
  }

  .card-content p {
    width: 80%;
    font-size: 3vw;
  }

  .evidence-card h3 {
    font-size: 5vw;
    margin-top: 80px;
  }

  .evidence-card p {
    font-size: 3vw;
  }

  .final-form input {
    width: 60%;
    font-size: 24px;
  }

  .final-form .checkbox-container {
    width: 80%;
  }
}

@media (max-width: 768px) {
  header {
    height: 100px;
    padding: 10px 20px;
  }

  .carmenLogo {
    width: 160px;
  }

  .menu {
    margin-right: 10px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 90%;
  }

  .banner-title {
    font-size: 12vw;
    margin-bottom: 120px;
  }

  .banner-sub {
    font-size: 5vw;
  }

  .slider-textos .slider-title {
    font-size: 10vw;
    width: 90%;
  }

  .evidence-cards {
    flex-direction: column;
    max-width: 90%;
    gap: 30px;
  }

  .final-form h2 {
    font-size: 8vw;
  }

  .final-form input {
    width: 80%;
    margin: 30px auto;
  }

  .final-form button {
    width: 60%;
    padding: 16px 0;
  }

  .checkbox-label {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .banner-title {
    font-size: 14vw;
  }

  .banner-sub {
    font-size: 6vw;
  }

  .card-content h2 {
    font-size: 10vw;
  }

  .card-content p {
    font-size: 4vw;
  }

  .final-form button {
    font-size: 20px;
  }
}
